html, body {
    margin: 0;

    width: 100%;
    height: 100%;

    padding: 0;

    background: #000000;
}

h1, h2 {
    margin: 0;
}

h1 {
    margin-bottom: .5em;
}

h2 {
    border-bottom: 10px solid white;

    background: #424242;
}

em {
    font-style: normal;

    color: #FFC000;
}

#main {
    display: flex;

    width: 100%;
    height: 100%;
}

#wrapper {
    position: relative;

    flex: auto;
    width: 100%;
    height: 100%;
}

#screen {
    position: absolute;

    width: 100%;
    height: 100%;
}

#ui {
    display: flex;
    flex-direction: column;

    flex: none;
    width: 300px;

    border-left: 10px solid white;
}

#ui > div {
    font-family: monospace;
    font-weight: bold;

    color: #ffffff;
}

#ui > * {
    border-top: 10px solid white;
}

#ui > *:first-child {
    border-top: 0;
}

#logbox, #chatbox {
    display: flex;
    flex-direction: column;
}

#logbox h2, #chatbox h2 {
    flex: none;
}

#instructions, #logbox h2, #chatbox h2, #logbox .content, #chatbox .content {
    padding: 10px;
}

#logbox .content, #chatbox .content {
    flex: auto;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

#logbox {
    flex: 1;
    width: 100%;
    height: 100%;
}

#chatbox {
    flex: 1;
    width: 100%;
    height: 100%;
}

#userbox {
    flex: none;
    width: 100%;
    height: 25px;

    border: 0;

    outline: none;
}
